Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://mywebserviceproject.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mywebserviceproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mywebserviceproject.org/">
      <s:element name="GreetAssistant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GreetAssistantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GreetAssistantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToCelsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FahrenheitToCelsiusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsiusToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsiusToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelsiusToFahrenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolveQuadraticEquation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolveQuadraticEquationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SolveQuadraticEquationResult" type="tns:QuadraticResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QuadraticResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HasSolution" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Root1" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Root2" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GreetAssistantSoapIn">
    <wsdl:part name="parameters" element="tns:GreetAssistant" />
  </wsdl:message>
  <wsdl:message name="GreetAssistantSoapOut">
    <wsdl:part name="parameters" element="tns:GreetAssistantResponse" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsiusSoapIn">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsius" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsiusSoapOut">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="CelsiusToFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="CelsiusToFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="SolveQuadraticEquationSoapIn">
    <wsdl:part name="parameters" element="tns:SolveQuadraticEquation" />
  </wsdl:message>
  <wsdl:message name="SolveQuadraticEquationSoapOut">
    <wsdl:part name="parameters" element="tns:SolveQuadraticEquationResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GreetAssistant">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This webservice method greets user according to the time of the day</wsdl:documentation>
      <wsdl:input message="tns:GreetAssistantSoapIn" />
      <wsdl:output message="tns:GreetAssistantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This webservice method Convert temperature from Fahrenheit to Celsius</wsdl:documentation>
      <wsdl:input message="tns:FahrenheitToCelsiusSoapIn" />
      <wsdl:output message="tns:FahrenheitToCelsiusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This webservice method Convert temperature from Celsius to Fahrenheit</wsdl:documentation>
      <wsdl:input message="tns:CelsiusToFahrenheitSoapIn" />
      <wsdl:output message="tns:CelsiusToFahrenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SolveQuadraticEquation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This webservice method solves a quadratic equation using the quadratic formula. The function takes the coefficients a, b, and c as input and returns a QuadraticResult object containing information about the roots.</wsdl:documentation>
      <wsdl:input message="tns:SolveQuadraticEquationSoapIn" />
      <wsdl:output message="tns:SolveQuadraticEquationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GreetAssistant">
      <soap:operation soapAction="http://mywebserviceproject.org/GreetAssistant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="http://mywebserviceproject.org/FahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="http://mywebserviceproject.org/CelsiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolveQuadraticEquation">
      <soap:operation soapAction="http://mywebserviceproject.org/SolveQuadraticEquation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GreetAssistant">
      <soap12:operation soapAction="http://mywebserviceproject.org/GreetAssistant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap12:operation soapAction="http://mywebserviceproject.org/FahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap12:operation soapAction="http://mywebserviceproject.org/CelsiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolveQuadraticEquation">
      <soap12:operation soapAction="http://mywebserviceproject.org/SolveQuadraticEquation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44394/Services/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44394/Services/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>